// Fonts
$font-header: 20px/1.4 'Philosopher', sans;
$font-paragraph: 20px/1.4 'Rubik', sans;
$font-mono: 90%/1.5 'IBM Plex Mono', monospace;

// Colors
$background: #232946;
$background-gradient: linear-gradient(180deg, rgba(28, 27, 56, 1) 0%, rgba(37, 43, 73, 1) 18%, rgba(35, 41, 70, 1) 100%);
$headline: #fffffe;
$paragraph: #b8c1ec;
$button: #eebbc3;
$button-text: $background;
$drop-shadow: darken($background, 10%);

// Colors: Links
$color-link: darken($button, 8%);
$color-link-hover: $color-link;
$color-link-active: darken($color-link-hover, 5%);