header {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;

  & h1 {
    font-size: 120%;
    margin: 0;
  }

  & ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;

    & li {
      margin-left: 0.5em;
    }
  }
}
